.content-dr {
    max-width: 72em;
    padding-bottom: 10rem;
    color: rgba(33,33,33,1);
    font-family: 'PT Sans', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.6667;
    margin: 0 auto;
}

.dr-Title {
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    display: inline-block;
    -moz-box-shadow: 5px 5px 7px #212121;
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transition: -moz-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
}

.dr-Title h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}